html, body {
  padding: 0;
  margin: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(14, 7.142vw);
  grid-template-rows: repeat(19, 6.25vh);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20000px;
  /* -webkit-box-shadow: rgba(0, 0, 0, 0.5); */
  background-color: orange;
}